/* colors:  orange #FFC300  vert #DAF7A6 */

#logo{
    width: 20vw;
    margin: -3%;
} 
    nav{
position: absolute;
top: 5%;
left:15%;
}
header{
    width: 90%;
    height: 8vh;
   border-bottom: 1px solid black; 
}
main{
    border: 1px solid black;
    width: 90%;
    margin-left: 5%;
}
nav li {
   display: inline;
    text-decoration: none;
    
}
nav li a{
    font-size: 1.5rem;
    text-decoration: none;
     background-color: #DAF7A6;
margin-left: 2vw;
padding: 20vh 8px 0 8px;
letter-spacing: 2px;
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav li:hover{
    background-color:  #FFC300;
    border-bottom: 20px solid  #FFC300;
    margin-top: -10px;
}
nav li a:hover{
    color:  #ac8506;
}
#retour{
    position: absolute;
    margin-left: 70%;
    margin-top: 5%;
}
.section{
      background-color: #DAF7A6;
    padding-top:10px;
    padding-bottom: 1px;
 
}
h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:400;
    font-size: 2rem;
       color: rgb(3, 2, 2);
    padding: 45px 0 15px 25px;
    letter-spacing: 1px;
    text-shadow:2px 2px 2px #FFC300;
    width: 50%;
    border-bottom: 5px solid rgb(9, 9, 9);
    text-align: center;

}
h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
    margin-left: 10px;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1% 5% 2% 15%;
    padding-left: 15px;
    line-height: 3vh;
    font-size: 1,5vw;
    border-left: 3px solid white;
}

#porteur{
    margin-top: 50%;
}
.icones{
    position: relative;
    width: 5rem;
    margin: -6% 0 2% 70%;
}
.point{
    width: 2rem;
    margin: 0 5px -8px 0;
}
#fleche{

    width: 2.5rem;
    position: fixed;
    margin: 30% 0 0 88%;
}
@media screen and (max-width: 780px)  {
    nav{
        left: 10%;
    }
    nav li a{
        font-size: 0.8rem;
        padding: 20vh 4px 0 4px;
    }
    h2{
        font-size: 1.5rem;
    }
    .icones{
        width: 4rem;
        margin: -20% 0 5% 70%;
    }
    .point{
        width: 4vw;
        margin-bottom: -4px;
    }
    #fleche{

        width: 2rem;
        position: fixed;
        margin: 90% 0 0 85%;
    }
}

